<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlite:C:/Users/ERDT/IdeaProjects/train-simulation/com/trainsimulation/model/db/simulation_properties.db</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <mapping class="com.trainsimulation.model.db.entity.CheckIntervalsEntity"/>
        <mapping class="com.trainsimulation.model.db.entity.DepotsEntity"/>
        <mapping class="com.trainsimulation.model.db.entity.PeakHoursEntity"/>
        <mapping class="com.trainsimulation.model.db.entity.PlatformsEntity"/>
        <mapping class="com.trainsimulation.model.db.entity.SchedulesEntity"/>
        <mapping class="com.trainsimulation.model.db.entity.StationCapacitiesEntity"/>
        <mapping class="com.trainsimulation.model.db.entity.StationsEntity"/>
        <mapping class="com.trainsimulation.model.db.entity.TrainCarriagesEntity"/>
        <mapping class="com.trainsimulation.model.db.entity.TrainSystemsEntity"/>
        <mapping class="com.trainsimulation.model.db.entity.TrainsEntity"/>
        <mapping class="com.trainsimulation.model.db.entity.EndSegmentsEntity"/>
        <mapping class="com.trainsimulation.model.db.entity.CarriageClassesEntity"/>
    </session-factory>
</hibernate-configuration>